{% extends "layout.html" %}

{% block content %}

    <section class="section">
      <div class="container ">
        <div class="content">
          <div class="content__el content__el--fix">
            <h1 class="title title--big title__home">Bienvenue 👋</h1>
            <h2 class="title title--small">C'est quoi IO&nbsp;?</h2>
            <p>IO est un projet de fontaine interactive où l’utilisateur va entrer ses différents pseudos de réseaux
              sociaux et ainsi lui montrer l'empreinte carbone de ses différents comptes. En fonction de l'importance de l'empreinte, les fontaines se transformeront en un vrai show lumineux.</p>
          </div>
          <div class="content__el content__el--blue content__el--small">
            <h2 class="title title--small">Un projet <br>éco-responsable</h2>
            <p>Tout les matériaux utilisés pour la conception de la fontaine sont entièrement biodégradables. De plus,
              nous avons une approche de sensibilisation envers les utilisateurs.</p>
            <a class="link link__page" href="{{ url_for('connexion') }}">Tester</a>
          </div>
        </div>
      </div>
    </section>

  </main>


  <div class="anim">

    <ul class="circles">
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
    </ul>
  </div>
{% endblock %}