{% extends "layout.html" %}

{% block content %}

    <section class="section">
      <div class="container">
        <div class="content content__results">
          <h1 class="title title--big"><span>Voici ta</span><span> consommation {{ username }}</span></h1>
          <div class="results">
            <ul class="results__el results--white">
              <li><span>Ton émission</span></li>
              <li><span class="results__number">{{ results['tot_emission'] }}</span></li>
              <li><span>g de CO2</span></li>
            </ul>


            <ul class="results__el results--blue">
              <li id="sn"><span>{{ results['sn_emission'] }} g</span></li>
              <li id="fb"><span>{{ results['fb_emission'] }} g</span></li>
              <li id="tt"><span>{{ results['tt_emission'] }} g</span></li>
              <li id="ig"><span>{{ results['ig_emission'] }} g</span></li>
            </ul>

            <ul class="results__el results__text">
              <li><span class="title title--small results__send">Envoie tes données</span></li>
              <li><span class="text__blue">Appuie sur le bouton sur la borne</span></li>
            </ul>
          </div>
        </div>
      </div>
    </section>



  </main>


  <div class="anim">
    <ul class="circles">
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
      <li class="circles__el">
        <div></div>
      </li>
    </ul>
  </div>

{% endblock %}
